<h1><%= t(".header") %></h1>
<p><%= t(".construction_first") %></p>
<%= link_to t(".reset_label"), edit_password_reset_url(id: @user.reset_token,
                                                       email: @user.email) %>
<p><%= t(".construction_second") %>
<p><%= t(".content") %></p>
