<footer class="footer">
  <small>
    <%= link_to t(".content_footer"), Settings.url.rails_home %>
    <%= link_to t(".author"), Settings.url.author %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".menu_about"), "#" %></li>
      <li><%= link_to t(".menu_contact"), "#" %></li>
      <li><%= link_to t(".menu_news"), Settings.url.rails_news %></li>
    </ul>
  </nav>
</footer>
